@font-face {
    font-family: "Generica";
    src: url("../font/generica.otf") format("opentype");
}

@font-face {
    font-family: "Generica";
    font-weight: bold;
    src: url("../font/generica_bold.otf") format("opentype");
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    background-position: left top, right top;
    font-family: 'Generica', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    position: relative;
}


#menu {
    background-color: #fdfd00;
    width: fit-content;

}

#menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    height: 50px;
    align-items: center;
    font-size: 20px;
    font-family: 'Generica', sans-serif;
    font-weight: bold;
}

#menu li {
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;

}

#menu a {
    color:black;
    text-decoration: none;
}

#menu a:hover {
    color: #fd35c4;
    text-decoration: none;
}

.highlight {
    background-color: #fdfd00;
    padding: 3px;
}

/* Hamburger menu button */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    border: 3px solid #fd35c4;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: 0.3s;
}



#buttons-top {
    margin-bottom: 60px;
}

#buttons-top ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 240px;
    justify-content: center;
}

#buttons-top li {
    text-align: center;
}

#buttons-top img {
    width: 200px;
    height: 200px;
    display: block;
}

#buttons-bottom ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 240px;
    justify-content: center;
    flex-wrap: wrap;
}

#buttons-bottom li {
    text-align: center;
}

#buttons-bottom img {
    width: 200px;
    height: 200px;
}

/* Mobile view */
@media (max-width: 1200px) {
    header {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }

    #logo {
        flex: 1;
        max-width: 70%;
    }

    #logo img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .hamburger {
        display: flex;
        position: relative;
        z-index: 200;
    }

    #menu {
        width: 100%;
    }

    #menu ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column;
        background-color: #fdfd00;
        gap: 0;
        height: 100vh;
        padding: 0;
        margin: 0;
        z-index: 100;
        width: 100vw;
        box-sizing: border-box;
        justify-content: center;
    }

    #menu ul.active {
        display: flex;
    }

    #menu li {
        padding: 15px 20px 15px 50px;
        width: 100%;
        border-bottom: 2px solid #fd35c4;
        box-sizing: border-box;
        margin: 0;
    }

    #menu a {
        display: block;
        width: 100%;
    }

    #menu li:first-child {
        border-top: 2px solid #fd35c4;
    }

    #menu li:last-child {
        border-bottom: 2px solid #fd35c4;
    }

    #buttons-top ul {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        margin-bottom: 0;
    }

    #buttons-top {
        margin-bottom: 0;
    }

    #buttons-top img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    #buttons-bottom {
        padding-top: 0;
    }

    #buttons-bottom ul {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    #buttons-bottom img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .highlight {
        display: inline-block;
        font-size: 14px;
    }
}


