html {
    height: 100%;
}
@font-face {
    font-family: "Generica";
    src: url("font/generica.otf") format("opentype");
}

@font-face {
    font-family: "Generica";
    font-weight: bold;
    src: url("font/generica_bold.otf") format("opentype");
}

body {
    background-color: #00DDFF;
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: auto 100%;
    overflow-x: hidden;
    font-family: 'Generica', sans-serif;
}
@media all and (max-height: 800px) {
    body {
        background-image: url("../img/kitaleiste_1_height_800.jpg"), url("../img/kitaleiste_2_height_800.jpg");
    }
}

@media  all and (min-height: 801px) and (max-height: 1094px) {
    body {
        background-image: url("../img/kitaleiste_1_height_1094.jpg"), url("../img/kitaleiste_2_height_1094.jpg");
    }
}

@media  all and (min-height: 1095px) and (max-height: 1600px) {
    body {
        background-image: url("../img/kitaleiste_1_height_1600.jpg"), url("../img/kitaleiste_2_height_1600.jpg");
    }
}

@media  all and (min-height: 1601px) {
    body {
        background-image: url("../img/kitaleiste_1_height_2574.jpg"), url("../img/kitaleiste_2_height_2574.jpg");
    }
}



#wrapper {
width: 100%;
}

#white-box {
    position: relative;
    left: 50%;
    margin-left: -20em;
    background-color: #FFFFFF;
    border-radius: 50px;
    width: 40em;
    height: 44em;
}

.content {
    width: 100%;
    text-align: center;
}

.inside-content {
    position: relative;
    left: 50%;
    margin-left: -10%;
    border: 1px;
    text-align: left;
}

.headline-name {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    padding-top: 2em;
}

hr {
    border: 0;
    height: 3px;
    padding: 0;
    margin-top: -5px;
}
.pink {
    margin-top: 50px;
    color: #dd6688;
    background-color: #dd6688;
}

.yellow {
    color:#ffff00;
    background-color: #ffff00;
}

.blue {
    color: #0085c0;
    background-color: #0085c0;
}

.green {
    color: #5fb84e;
    background-color: #5fb84e;
}
.smaller {
    padding: 0;
    border: 0;
    margin: 0;
    width: 100px;
    border-image-width: 0;
}

@media all and (min-width: 962px) {
    #door-and-ring {
        float: none;
        position: absolute;
        left: 50%;
        margin-left: 17.5em;
        top: 14em;
        width: 100px;
    }
}

@media all and (min-width: 500px) and (max-width: 962px) {
    #door-and-ring {
        float: none;
        position: absolute;
        left: 50%;
        margin-left: 9em;
        top: 14em;
        width: 100px;
    }
}


@media all and (max-width: 499px) {
    #door-and-ring {
        float: none;
        position: absolute;
        left: 50%;
        margin-left: 17.5em;
        top: 14em;
        width: 100px;
        z-index: -1;
    }
}

.door {
    width: 100px;
}
.ring {
    width: 100px;
}
